<main class="main">
  <include src="./header.html"></include>
  <h1 class="main__title">Crea tu tarjeta de visita</h1>
  <p class="main__text">
    Crea mejores contactos profesionales de <br />
    forma fácil y cómoda
  </p>
  <div class="main__box">
    <div class="main__box-diseña">
      <div class="main__box-diseña-icono">
        <i class="fa-regular fa-object-ungroup"></i>
      </div>
      <div class="main__box-diseña-diseña">Diseña</div>
    </div>

    <div class="main__box-rellena">
      <div class="main__box-rellena-icono2">
        <i class="fa-regular fa-keyboard"></i>
      </div>
      <div class="main__box-rellena-rellena">Rellena</div>
    </div>

    <div class="main__box-comparte">
      <div class="main__box-comparte-icono3">
        <i class="fa-solid fa-share-nodes"></i>
      </div>
      <div class="main__box-comparte-comparte">Comparte</div>
    </div>
  </div>

  <div class="main__button">
    <a
      class="main__button--link"
      href="./create-cards.html"
      title="Link to page create cards"
      >Comenzar</a
    >
  </div>
</main>
