//colors

$light-khaki: rgb(249, 244, 220);
$black-20: rgba(0, 0, 0, 0.2);
$tomato: rgb(233, 86, 38);
$dried-blood: rgb(66, 1, 1);
$rusty-red: rgb(189, 16, 16);
$faded-orange: rgb(234, 176, 82);
$light-grey-blue: rgb(160, 192, 207);
$azure: rgb(0, 160, 245);
$white: rgb(213, 213, 213);
$black: rgb(0, 0, 0);
$gunmetal: rgb(84, 88, 90);
$brownish-grey: rgb(107, 107, 107);
$slate: rgb(62, 91, 101);
$white-two: rgb(255, 255, 255);
$hospital-green: rgb(162, 222, 175);
$silver: rgb(191, 205, 208);
$pale-grey: rgb(221, 233, 237);
$dark-green-blue: rgb(17, 78, 78);
$dirty-blue: rgb(67, 135, 146);
$dull-orange: rgb(225, 115, 52);
$dull-orange-op: rgba(225, 115, 52,0.21);
$white-three: rgb(216, 216, 216);
$white-four: rgb(245, 245, 245);

//fonts
$merriweather_24: 24px "Merriweather";
$merriweather_19: 19.2px "Merriweather";
$openSans_18: 600 18px "Open Sans";
$openSans_16_600: 600 16px "Open Sans";
$openSans_16_400: 400 16px "Open Sans";
$openSans_14: 400 14px "Open Sans";
$openSans_12_400: 400 12px "Open Sans";
$openSans_13_400: 400 13px "Open Sans";
$openSans_12_600: 600 12px "Open Sans";
$montserrat_16_400: 400 16px "Monstserrat";
$montserrat_18_700: 700 18px "Montserrat";
