.design {
  border-bottom: solid 1px $white-three;
  padding-bottom: 10px;

  &__title {
    font: $openSans_18;
    color: $gunmetal;
    display: flex;
    justify-content: space-between;
  }
  &__header {
    width: 100%;
    cursor: pointer;
  }
  &__container {
    margin-top: 22px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;

    &--colors1,
    &--colors2,
    &--colors3 {
      justify-self: right;
      margin-bottom: 20px;
    }
  }
  &__label {
    font: $openSans_14;
    grid-row: 1/4;
    margin-left: 19px;
  }
  &__input {
    cursor: pointer;
    transform: translateY(-25%);
    height: 16px;
    width: 16px;
  }
  .colors--one {
    display: inline-block;
    background-color: $dark-green-blue;
    width: 30px;
    height: 25px;
    margin-right: -4px;
  }
  .colors--two {
    display: inline-block;
    background-color: $dirty-blue;
    width: 30px;
    height: 25px;
    margin-right: -4px;
  }
  .colors--three {
    display: inline-block;
    background-color: $hospital-green;
    width: 30px;
    height: 25px;
  }
  .colors--four {
    display: inline-block;
    background-color: $dried-blood;
    width: 30px;
    height: 25px;
    margin-right: -4px;
  }
  .colors--five {
    display: inline-block;
    background-color: $rusty-red;
    width: 30px;
    height: 25px;
    margin-right: -4px;
  }
  .colors--six {
    display: inline-block;
    background-color: $tomato;
    width: 30px;
    height: 25px;
  }
}
.colors--seven {
  display: inline-block;
  background-color: $slate;
  width: 30px;
  height: 25px;
  margin-right: -4px;
}
.colors--eight {
  display: inline-block;
  background-color: $faded-orange;
  width: 30px;
  height: 25px;
  margin-right: -4px;
}
.colors--nine {
  display: inline-block;
  background-color: $light-grey-blue;
  width: 30px;
  height: 25px;
}
